.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.custumcss{
/* background-color: rgb(58 71 100); */
/* background-color:  rgb(159 0 0); */
background-color: #627ea1;
}
.backtrans{
  background: transparent;
}
.custom-menu {
  background-color: transparent;
  border-right: none;
}

.custom-menu .ant-menu-item {
  color: white !important;
  font-weight: bold;
  padding: 12px 24px !important;
  margin: 8px 12px;
  /* border-radius: 8px; */
  transition: all 0.3s ease;
  font-size: 18px;
    width: 84%;
}

.custum-pedding .ant-card-body{
  padding: 0px;
}
.custum-pedding-cell .ant-table-cell{
      padding: 9px 9px !important;
}


.custom-menu .ant-menu-item-selected {
  background-color: #ffffff;
  color: rgb(58 71 100) !important;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: unset;
  width: 84%;
}
.textwhite{
  color: #ffffff;
}
.custom-card .ant-card-head {
  background: #627ea1;
  color: white;
}
.textred{
color: rgb(58 71 100);
   /* color: rgb(159 0 0)  */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
